<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="../asset/login.css">
</head>
<body>

  <div class="box" style="max-width: 450px;">
    <div class="header">Create New Account</div>

    <form method="POST" action="../controller/signup_Check.php" onsubmit="return validateForm()">
          
      
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="firstname">
        <span id="firstError" class="error"></span>
      </div>

      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="lastname">
        <span id="lastError" class="error"></span>
      </div>

      <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input type="date" id="dob" name="dob">
        <span id="dobError" class="error"></span>
      </div>

      <div class="form-group">
        <label for="license">License Number</label>
        <input type="text" id="license" name="license">
        <span id="licenseError" class="error"></span>
      </div>

      <div class="form-group">
        <label for="email">Email </label>
        <input type="text" id="email" name="email">
        <span id="emailError" class="error"></span>
      </div>

      <div class="form-group">
        <label for="password"> Password</label>
        <input type="password" id="password" name="password">
        <span id="passwordError" class="error"></span>
      </div>

      <div class="form-group">
        <label for="confirm">Confirm Password</label>
        <input type="password" id="confirm" name="confirm">
        <span id="confirmError" class="error"></span>
      </div>

      <span id="formError" class="error"></span>

      <button type="submit" class="login-btn" name="submit">Sign Up</button>

    </form>

    <a href="login.html" class="link">Back to Login</a>
  </div>

<script src="../asset/signup.js"></script>
</body>
</html>
