<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="../asset/login.css">
</head>
<body>
<form method="post" action="../controller/adminLogincheck.php">
  <div class="box">
    <div class="header"> Admin Login </div>

    <form onsubmit="return false;">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email"  required >
        <div id="emailError" class="error"></div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <div id="passwordError" class="error"></div>
      </div>
 
      <div id="formError" class="error" style="font-weight: bold;"></div>
       <input type="submit" name="submit" id="loginBtn" class="login-btn" value="login"/> <br>

    

      <a href="forgot_pass.html" class="link">Forgotten password?</a>
      <hr>
      
  </div>


</body>
</html>
