<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
   <link rel="stylesheet" href="../asset/login.css">
</head>
<body>

  <div class="box">
    <div class="header">Reset Password</div>

    <form action="reset" method="post">
      <div class="form-group">
        <label for="identifier">Enter Email or Phone</label>
        <input type="text" id="identifier" name="identifier" required>
      </div>

      <button type="submit" class="login-btn">Send</button>
      

      <hr>

      <a href="login.html" class="link">Back to Login</a>
    </form>
  </div>

</body>
</html>
